<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gyy.guoLinKt">

    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.MyIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <!--自定义ContentProvider-->
        <provider
            android:name=".bean.DatabaseProvider"
            android:authorities="com.gyy.guoLinKt"
            android:enabled="true"
            android:exported="true" />

        <!-- 注意：authorities：一个标识，必须是唯一值，一般用包名。注意啊，不能重复，必须唯一，之前一直报错就是因为重复了，不唯一 -->
        <!--访问图片-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gyy.guoLinKt.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.gyy.guoLinKt.bean.LitePalInitializer"
                android:value="androidx.startup" />
            <!--延迟初始化的配置-->
            <!--<meta-data-->
            <!--    android:name="com.example.LitePalInitializer"-->
            <!--    tools:node="remove" />-->
        </provider>
        <!-- 错误的想法 -->
        <!-- <receiver -->
        <!-- android:name=".brocast.ForceofflineReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.ForceofflineReceiver" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".activity.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".brocast.MyReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.MY_CUSTOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".brocast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.MY_CUSTOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".brocast.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.NewsContentActivity" />
        <activity
            android:name=".activity.TestActivity"
            android:label="TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.SecondActivity"
            android:theme="@style/Theme.AppCompat.Dialog" /> <!-- 响应HTTPS -->
        <activity android:name=".activity.ThridActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="https" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>